.card {
  margin: 15px 0px;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  background-color: lightpink;
  padding: 32px;
}

.card:hover {
  transform: scale(1.02);
  transition: transform .3s;
}